body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Montserrat;
    scroll-behavior: smooth;
    background: url('https://images.unsplash.com/photo-1473794492299-053053984395?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070');
}

.background::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

/* Tint */

.tint {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), transparent 100%);
}

/* Navigation Bar */

nav { 
    padding: 15px 30px; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
} 

.navigation-bar { 
    color: white; 
} 

nav ul { 
    list-style: none; 
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
} 

nav ul li a { 
    color: white;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
} 

nav ul li a:hover { 
    color: rgb(173, 216, 230); 
}

/* Intro */

.introduction {
    background: #f4f4f4;
    width: 75%;
    height: 300px;
    border-radius: 15px;
    margin: auto;
    position: relative;
    top: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5), inset 0 0 0 1px rgba(255, 255, 255, 0.15);
    background: linear-gradient(to top, rgb(44, 62, 80) 70%, white 30%);
}

.introduction h1 {
    text-align: center;
    font-size: 70px;
    padding: 5px;
}

.introduction p{
    padding: 40px;
    color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: -70px;
    width: 1000px;
    text-align: center;
    font-weight: bold;
}

.anchor-links {
    display: flex;              
    justify-content: center;  
    align-items: center;        
    gap: 30px;                 
    margin-top: 40px;           
    flex-wrap: wrap;          
}

.anchor-links a{
    position: relative;
    margin-top: -50px;
    width: 300px;
    height: 40px;
    padding: 5px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5), inset 0 0 0 1px rgba(255, 255, 255, 0.15);
    transition: 0.5s;
    color: white;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
}

.anchor-links a:hover{
    background: rgba(200, 200, 200, 0.08);
    border: 1px solid white;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
}

.img {
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5), inset 0 0 0 1px rgba(255, 255, 255, 0.15);
    
}

.images {
    background: white;
    height: 700px;
    margin-top: 460px;
}

.images p {
    font-weight: bold;
}

.images h1 {
    text-align: center;
    padding: 20px;
}

.img-one {
    
}
